.content {
    grid-area: Main;
}

.toc {
    grid-area: Right;
    background-color: black;
    color: white;
    height: 100%;
    right:0;
    position: absolute;
    width: 20%;

}

.grid-container{
    display: grid;
    grid-template-areas: 'Main Main Main Right';

}

